h2 {
  font-family: 'Helvetica Neue', 'OpenSans', Arial, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #000000;
  transition: color .3s;
}


h3 {
  font-family: 'Helvetica Neue', 'OpenSans', Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #000000;
  transition: color .3s;
}

h4 {
  font-family: 'Helvetica Neue', 'OpenSans', Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #000000;
  font-weight: bold;
  transition: color .3s;
}