.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

@media screen and (max-width: 768px) {
  .popup{
    align-items: flex-end;
  }
}

.popup-visible {
  .popup {
    opacity: 1;
    visibility: visible;
  }
}

.popup-overlay {
  background-color: rgba(0,0,0,.4);
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

.popup-content {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 32px 62px;
  box-sizing: content-box;
  width: 320px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .popup-content {
    margin-bottom: 24px;
  }
}

.popup-image {
  margin-bottom: 17px;
}

.popup-title {
  margin-bottom: 8px;
}

.popup-descrition {
  line-height: 2rem;
  margin-bottom: 24px;
}

.popup-actions {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  .button {
    margin: 0 8px;
  }
}